@mixin setBackgroundImage($src) {
    background-image: url($src);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cardSection {
    @include setBackgroundImage('../images/bg-main-mobile.png');
    color: var(--white-color);
    height: 350px;
    position: relative;
    
    &__cardFront {
       --card-padding: 2rem;
       --card-number-size: 1.5em;
       --card-details-size: .9em;
       position: absolute;
       bottom: -22%;
       left: 5%;
       z-index: 10;
       width: min-content;

       &>*:not(&__BgImg) {
        position: absolute;
       }

       &__BgImg {
        display: block;
       }

       &__Logo {
        top: var(--card-padding);
        left: var(--card-padding);
       }

       &__Numbers {
        top: 55%;
        left: var(--card-padding);
        font-size: var(--card-number-size);
        letter-spacing: 4px !important;
       }

       &__HolderName {
        bottom: var(--card-padding);
        left: var(--card-padding);
        font-size: var(--card-details-size);
        opacity: .8;
       }

       &__Dates {
        bottom: var(--card-padding);
        right: var(--card-padding);
        font-size: var(--card-details-size);
        opacity: .8;
       }

    }

    &__cardBack {
       position: absolute;
       top: 10%;
       right: 5%;
       --cvc-size: .9em;
        
       &>*:not(&__BgImg) {
        position: absolute;
       }

       &__BgImg {
        display: block;
       }

       &__cvc {
        top: 45%;
        right: 3.5rem;
        font-size: var(--cvc-size);
        opacity: .8;
       }
    }
}

@media screen and (max-width: 470px) {
    .cardSection {
        height: 230px;
        
        &__cardFront {
            --card-padding: 1rem;
            --card-number-size: .9em;
            --card-details-size: .7em;

            &__BgImg {
                width: 300px;
            }
            &__Logo {
               width: 20%;
            }
        }

        &__cardBack {
            --cvc-size: .7em;
            &__BgImg {
                width: 300px;
            }
            &__cvc {
                right: 2.5rem;
            }
        }
    }
}