@mixin setBackgroundImage($src) {
    background-image: url($src);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cardSection {
    @include setBackgroundImage('../images/bg-main-mobile.png');
    color: var(--white-color);
    height: 230px;
    position: relative;
    
    &__cardFront {
        --card-padding: 1rem;
            --card-number-size: .9em;
            --card-details-size: .7em;
       position: absolute;
       bottom: -22%;
       left: 5%;
       z-index: 10;
       width: min-content;

       &>*:not(&__BgImg) {
        position: absolute;
       }

       &__BgImg {
        display: block;
        width: 300px;
       }

       &__Logo {
        top: var(--card-padding);
        left: var(--card-padding);
        width: 20%;
       }

       &__Numbers {
        top: 55%;
        left: var(--card-padding);
        font-size: var(--card-number-size);
        letter-spacing: 4px !important;
       }

       &__HolderName {
        bottom: var(--card-padding);
        left: var(--card-padding);
        font-size: var(--card-details-size);
        opacity: .8;
       }

       &__Dates {
        bottom: var(--card-padding);
        right: var(--card-padding);
        font-size: var(--card-details-size);
        opacity: .8;
       }

    }

    &__cardBack {
       position: absolute;
       top: 10%;
       right: 5%;
       --cvc-size: .7em;
        
       &>*:not(&__BgImg) {
        position: absolute;
       }

       &__BgImg {
        display: block;
        width: 300px;
       }

       &__cvc {
        top: 45%;
        right: 2.5rem;
        font-size: var(--cvc-size);
        opacity: .8;
       }
    }
}
