:root {
    --primary-gradient: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --primary-red: hsl(0, 100%, 66%);
    --white-color: hsl(0, 0%, 100%);
    --light-grayish: hsl(270, 3%, 87%);
    --dark-grayish: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}